{% extends "base.html" %}

{% block title %}Register a Team{% endblock %}

{% block content %}

    <h2 class="mb-4 my-3">Register a Team</h2>
    <div>
        <form method="post" action="{% url 'profile-signup' %}" class="d-flex flex-column mb-4">
            {% csrf_token %}
            <div class="input-group my-1">
                <input type="text" class="form-control border-secondary" name="team_name" maxlength="128" autofocus="" required="" autocapitalize="none" placeholder="Team name">
            </div>
            <div class="input-group my-1">
                <input type="password" class="form-control border-secondary" name="password1" autocomplete="new-password" required="" placeholder="Password">
            </div>
            <div class="input-group my-1">
                <input type="password" class="form-control border-secondary" name="password2" autocomplete="new-password" required="" placeholder="Confirm password">
            </div>
            <button class="btn btn-outline-secondary my-1" type="submit">Register</button>
        </form>

        <div class="d-flex flex-column">
            <a href="{% url 'oauth-step1' %}" class="btn btn-outline-secondary my-1" type="button">Login with CTFtime</a>

            <a href="{% url 'login' %}" class="btn btn-outline-secondary my-1" type="button">Login</a>
        </div>
    </div>

{% endblock %}