{% extends 'base.html' %}

{% block title %}Solves | Admin Panel | {{ event_name }}{% endblock %}

{% block content %}

    <h2 class="mb-4 my-3">Solves | Admin Panel</h2>
    <div class="container mb-4">
        <h3 class="mb-4">First Bloods</h3>
        <p>These numbers do not count inactive teams.</p>
        <table class="table table-striped w-100">
            <thead>
                <tr>
                    <th scope="col">Challenge</th>
                    <th scope="col">Time</th>
                    <th scope="col">Team</th>
                </tr>
            </thead>
            <tbody>
                {% for blood in firstbloods %}
                    <tr>
                        <td>{{ blood.challenge_name }} </td>
                        <td>{{ blood.solvetime }}</td>
                        <td>{{ blood.team_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container my-4">
        <h3 class="mb-4">Number of Solves</h3>
        <p>These numbers do not count inactive teams.</p>
        <table class="table table-striped w-100">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Challenge</th>
                    <th scope="col"># Solves</th>
                </tr>
            </thead>
            <tbody>
                {% for challenge in number_solves %}
                    <tr>
                        <td></td>
                        <td>{{ challenge.challenge_name }}</td>
                        <td>{{ challenge.solves }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container mt-4">
        <h3 class="mb-4">All Solves</h3>
         <form class="input-group d-flex flex-row mb-2" id="search_solves" method="get" action="{% url 'admin-solves' %}">
            <input type="text" id="solves_searchbar" name="search" class="form-control border-secondary mx-1" placeholder="Search team, bracket, challenge, or category" value="{% if solve_search %}{{ solve_search }}{% endif %}">
            <a class="btn btn-outline-danger mx-1" href="{% url 'admin-solves' %}">Clear</a>
            <button class="btn btn-outline-secondary mx-1" type="submit">Search</button>
        </form>
        <table class="table table-striped w-100">
            <thead>
                <tr>
                    <th scope="col">Team</th>
                    <th scope="col">Time</th>
                    <th scope="col">Challenge</th>
                </tr>
            </thead>
            <tbody>
                {% for solve in all_solves %}
                    <tr>
                        <td {% if not solve.team.is_active %}class="text-secondary"{% endif %}>{{ solve.team.team_name }} {% if not solve.team.is_active %}(inactive){% endif %}</td>
                        <td {% if not solve.team.is_active %}class="text-secondary"{% endif %}>{{ solve.time_of_solve|date:"D" }} {{ solve.time_of_solve|time:"g:i A e" }}</td>
                        <td {% if not solve.team.is_active %}class="text-secondary"{% endif %}>{{ solve.challenge.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- TODO: style tables, center some columns -->

{% endblock %}