{% extends 'base.html' %}

{% block title %}Scoreboard | {{ event_name }}{% endblock %}

{% block content %}

    <h2 class="mb-4 my-3">
        <span>Scoreboard</span>
        <button class="btn btn-sm btn-outline-secondary" id="bcds-fullscreen-btn" type="button"><i class="bi bi-arrows-fullscreen"></i></button>
    </h2>
    <div class="container my-3">
        <canvas id="bcds-scoreboard"></canvas>
    </div>
    <div class="d-flex flex-row justify-content-evenly w-100 mb-4 my-3">
        <a href="{% url 'scoreboard' %}" class="link-secondary link-underline-opacity-0">all</a>
        <a href="{% url 'scoreboard' %}{% querystring bracket='' %}" class="link-secondary link-underline-opacity-0">Open</a>
        {% for b in brackets %}
            <a href="{% url 'scoreboard' %}{% querystring bracket=b.bracket_name %}" class="link-secondary link-underline-opacity-0">{{ b.bracket_name }}</a>
        {% endfor %}
    </div>
    <div class="container">
        <table class="table table-striped w-100">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">#</th>
                    <th scope="col">Team</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody id="bcds-rankings">
            </tbody>
        </table>
    </div>

{% endblock %}